.header {
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.newTaskForm {
  position: absolute;
  bottom: calc((0px - 3.375rem) / 2);
  height: 3.375rem;
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1rem;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm button {
  height: 100%;
  padding: 0 1rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.newTaskForm button:hover {
  background-color: var(--blue);
}

.newTaskForm button span {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  line-height: 19.6px;
  margin-right: 0.5rem;
}
