* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #fbfcff;
  --white: #fafafa;
  --red: #e83f5b;
  --blue-dark: #0d114f;
  --blue: #3485ff;
  --light-gray: #e0ecff;

  --overly: #040911;
  --icon-details: #a5b0c1;

  --gray-blue: #a1b2cd;
  --gray-dark: #4d5e77;
  --gray-medium: #d3d9e2;
  --gray-light: #e5eaf1;

  --hover-blue: #5699ff;
  --hover-red: #ea4b65;
  --hover-gray: #8794a7;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  height: 100vh;
  width: 100%;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(
    14px,
    1.6rem,
    2vw
  ); /* menor tamanho 14px - padrão 16px - maior tamanho 24px */
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}
